.forgot-wrapper {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20230615/pngtree-the-apple-iphone-x-with-night-sky-and-saturn-on-the-image_2884840.jpg")
        no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.forgot-password-form {
    width: 400px;
    margin: 0 auto;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.forgot-password-form h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.forgot-password-form input[type="text"],
.forgot-password-form input[type="email"],
.forgot-password-form input[type="password"],
.forgot-password-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.forgot-password-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.forgot-password-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.back-login-here {
    margin-top: 12px;
}
