.admin-user span {
    display: flex;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: #6b6b6b;
}
.admin-user-list {
    background: white;
    margin: 0 0.5rem 0 1rem;
    color: #6b6b6b;
    padding: 1rem;

    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
table {
    width: 100%;
    text-align: left;
    padding: 1rem;
}

table th {
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 600;
    background: #f9f9f9;
    padding: 0.5rem 0;
    min-width: 30px;
    text-align: center;
}
table td {
    padding: 0.5rem 0;
    font-size: 16px;
    text-align: center;
}
<<<<<<< HEAD

tr .edit-user,
=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
tr .delete-user {
    display: flex;
    cursor: pointer;
    padding: 0;
}
<<<<<<< HEAD

tr .edit-user span,
=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
tr .delete-user span {
    margin: 0 auto;
}

tr .delete-user:hover span {
    color: #f30707;
}
<<<<<<< HEAD

.edit-user:hover span {
    color: rgb(24, 162, 236);
}
=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
