* {
    box-sizing: border-box;
}
<<<<<<< HEAD

.all-order {
    height: 100%;
    box-sizing: none;
    margin-left: 6px;
    background: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.layout__content-main .orderAdmin {
    margin-top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.orderAdmin > span {
=======
.layout__content-main .order {
    margin-top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.order > span {
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    display: flex;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: #6b6b6b;
}
<<<<<<< HEAD

.info-order-item {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    color: #1890ff;
}

.order-list {
    display: flex;
}

.order-list-items {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

=======
.order-list {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}
.all-order {
    margin: 0 0.5rem 0 1rem;
    height: 100%;
    background: white;
    padding: 0 1rem;
    box-sizing: none;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.order-list-items {
    /* display: flex; */
    flex-wrap: wrap;
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-items-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 1rem;
}
<<<<<<< HEAD

.order-deltail {
    display: flex;
    flex-direction: column;
}

.order-items-item .qty,
.order-items-item .name,
.order-items-item .price {
    font-size: 13px;
    text-align: left;
    color: #6b6b6b;
    margin-bottom: 4px;
=======
.order-items-item .qty,
.order-items-item .name,
.order-items-item .price,
.order-items-item .img {
    width: 25%;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: #6b6b6b;
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
}

.order-list-items img {
    width: 100px;
    height: 100px;
}

<<<<<<< HEAD
/* --------------------------- */
.order-infos {
    flex: 5;
    display: flex;
    font-size: 15px;
    margin-top: 5px;
    flex-direction: column;
}

.order-info {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.order-info-price {
    font-weight: 700;
    display: flex;
}

.order-info-address {
    text-align: left;
}

.order-info-address b {
    color: #6b6b6b;
}

=======
.toatalPrice {
    font-size: 16px;
    font-weight: 700;

    display: flex;
    padding: 1rem 0;
    color: #1890ff;
}
.order-info {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 1rem;
}
.order-info-address {
    text-align: left;
    width: 55%;
    font-size: 17px;
}
.order-info-address b {
    color: #6b6b6b;
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    border-bottom: 1px solid #ccc;
    padding-bottom: 42px;
}

=======
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-button {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
<<<<<<< HEAD

.order-button button {
    padding: 4px 6px;
    margin-left: 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

=======
.order-button button {
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-button .shipping {
    background: #1890ff;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-button .paid {
    background: #1890ff;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-button .delete {
    background: #d70018;
    color: white;
}

.order-status {
    display: flex;
    color: #1890ff;
}

<<<<<<< HEAD
.order-status .confirm {
    margin-left: 10px;
}

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-menu {
    display: flex;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-menu a {
    position: relative;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    color: #1890ff;
    background: white;
    border: 1px solid #1890ff;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-menu a:hover {
    color: white;
    background: #1890ff;
    transition: 0.3s;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.order-pendding-new,
.order-shipping-new {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
<<<<<<< HEAD
=======

>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    background: #1890ff;
    color: white;
}

.order-payment-check {
    font-size: 15px;
    color: #6b6b6b;
    display: flex;
}

<<<<<<< HEAD
/* Order Detail */
.info-customer-wrapper {
    line-height: 1.8;
    font-size: 16px;
}

.info-customer-order {
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.info-customer-title {
    color: #3d98ec;
    font-weight: 600;
    text-align: center;
}

.ant-modal {
    width: 800px !important;
}

.ant-modal-body {
    padding: 10px 25px;
}

.ant-modal-header {
    background: #ebebeb;
}

.ant-modal-title {
    font-size: 18px;
}

.table-order-list {
    margin-top: 12px;
}

.table-order-list th,
.table-order-list td {
    font-size: 15px;
}

.customer-total-price {
    color: #3d98ec;
    font-size: 18px;
}

table > .table-tbody-order {
    overflow-y: auto;
    height: 20px;
}

.customer-payment-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-payment-action .paid-customer {
    font-size: 14px;
=======
/* -------------- print */

@media print {
    html,
    body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
        padding: 0.5rem;
    }
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
}
