.user-container {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background: #f5f5f5;
}

.user-content {
    width: 80%;
    height: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.user-sidenav {
    width: 25%;
}

.user-children-content {
    width: 75%;
    background: #fff7f7;
    border-left: 1px solid #ccc;
    overflow: scroll;
}
