.sort-price {
    position: relative;
    margin-top: 1rem;
    padding: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #8e8e8e;
    max-width: 180px;
    margin-right: 20px;
}
.sort-price-list {
    position: absolute;
    background: white;
    border: 1px solid #c0c0c0;
    z-index: 11;
    top: 5px;
    width: 120px;
}
.sort-price-list-item {
    cursor: pointer;
    padding: 0.3rem 0.5rem;
}
.sort-price-list-item:hover {
    background: #d70018;
    color: #fff;
    transition: 0.3s;
}
