* {
    box-sizing: border-box;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
#carousel {
    width: 100%;
    margin-top: 2px;
    padding-top: 70px;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.carousel-left {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.carousel-left-slide {
    position: relative;
    overflow: hidden;
}
<<<<<<< HEAD

.carousel-left-slide img {
    width: 100%;
}

=======
.carousel-left-slide img {
    width: 100%;
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.carousel-left-slide:hover .prev {
    transform: translateX(0);
    transition: 0.5s;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.carousel-left-slide:hover .next {
    transform: translateX(0);
    transition: 0.5s;
}

.carousel-left-move {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
}
<<<<<<< HEAD

=======
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.carousel-left-slide .prev,
.carousel-left-slide .next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    font-weight: 600;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}
<<<<<<< HEAD

.prev {
    transform: translateX(-40px);
}

=======
.prev {
    transform: translateX(-40px);
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.next {
    transform: translateX(40px);
}

.carousel-left-bottom {
    border: 1px solid #eee;
    padding: 1rem 0;
    font-family: Sans-serif !important;
    font-size: 13px;
    cursor: pointer;
}
<<<<<<< HEAD

.slick-current {
    font-weight: 600;
}

=======
.slick-current {
    font-weight: 600;
}
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
.slick-slider button,
.slick-next {
    opacity: 0;
}
