<<<<<<< HEAD
.sidebar {
=======
.sidebar{
   
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    min-width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
<<<<<<< HEAD
.sidebar-top {
=======
.sidebar-top{
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    color: #1890ff;
    font-size: 30px;
    font-weight: 600;
    padding: 1.5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
.sidebar-top img {
    width: 200px;
}
.sidebar-list {
    padding: 0 1rem;
}
.sidebar-list-item {
=======
.sidebar-top img{
    width: 200px;
}
.sidebar-list{
    padding: 0 1rem;
}
.sidebar-list-item{
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;

    border-radius: 18px;
    color: #6b6b6b;
}
<<<<<<< HEAD
.sidebar-list-item.active {
    background: #1890ff;
    color: white;
}
.sidebar-list-item p {
    margin: 0 0 0 1rem;
}

.sidebar-list-item:hover {
    background: #1890ff;
    color: white;
    transition: 0.3s;
}

.admin-order-new {
=======
.sidebar-list-item.active{
    background: #1890ff;
    color: white;
}
.sidebar-list-item p{
   margin:0 0 0 1rem;
}

.sidebar-list-item:hover{
    background: #1890ff;
    color: white;
    transition: .3s;
}

.admin-order-new{
>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    position: absolute;
    top: 0px;
    right: -10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
<<<<<<< HEAD
=======

>>>>>>> a0e4353579f6cb22e693e110f78edb9f9e799c41
    background: #1890ff;
    color: white;
    font-size: 13px;
}
